header
    position: relative
    width: 100vw
    height: 20vh
    background-color: black
    div.logo
        position: absolute
        width: 100px
        height: 100px
        top: 0%
        left: 50%
        transform: translateX(-50%) 
        background-image: url(../images/logo_bez_bg100.png)
        animation: logoAnimate 2s steps(10) infinite
    div.burger
        position: absolute
        width: 20%
        height: 60%
        top: 0
        right: 0
        background-color: green