* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
  font-size: 10px;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background-color: black;
  z-index: 1;
  overflow: hidden;
}
header div.logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/logo_bez_bg100.png);
  -webkit-animation: logoAnimate100 2.5s steps(9) forwards;
          animation: logoAnimate100 2.5s steps(9) forwards;
}

nav.mobile {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  background-color: #0e0d0d;
  transition: 0.3s;
}
nav.mobile.active {
  height: 50vh;
}
nav.mobile.active ul {
  display: block;
}
nav.mobile h1 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  line-height: 10vh;
}
nav.mobile ul {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  list-style-type: none;
}
nav.mobile ul li {
  background-color: #161515;
  height: 20%;
  border: 1px solid #020202;
}
nav.mobile ul li a {
  display: block;
  text-align: center;
  line-height: 10vh;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
nav.mobile div.burger {
  position: absolute;
  width: 5vh;
  height: 5vh;
  top: 2.5vh;
  right: 5%;
  transform: translateY(-50%);
}
nav.mobile div.burger i {
  display: block;
  font-size: 1.4rem;
  line-height: 10vh;
  color: white;
  text-align: center;
  transform: rotate(180deg);
  transition: 0.3s;
}
nav.mobile div.burger.active i {
  transform: rotate(0deg);
  text-shadow: 1px 1px 20px white;
}

nav.desktop {
  display: none;
}

@media (min-width: 360px) and (orientation: portrait) {
  header div.logo {
    width: 150px;
    height: 150px;
    background-image: url("../images/logo_bez_bg150.png");
  }
  nav.mobile h1 {
    font-size: 2rem;
  }
  nav.mobile ul li a {
    font-size: 1.4rem;
  }
  nav.mobile div.burger i {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  header div.logo {
    width: 200px;
    height: 200px;
    background-image: url("../images/logo_bez_bg200.png");
  }
  nav.mobile h1 {
    font-size: 4rem;
  }
  nav.mobile ul li a {
    font-size: 2.5rem;
  }
  nav.mobile div.burger i {
    font-size: 4rem;
  }
}
@media (min-width: 912px) and (orientation: portrait) {
  header div.logo {
    width: 250px;
    height: 250px;
    background-image: url("../images/logo_bez_bg250.png");
  }
  nav.mobile h1 {
    font-size: 4rem;
  }
  nav.mobile ul li a {
    font-size: 2.5rem;
  }
  nav.mobile div.burger i {
    font-size: 4rem;
  }
}
@media (min-width: 533px) and (orientation: landscape) {
  header {
    height: 32vh;
  }
  header div.logo {
    width: 100px;
    height: 100px;
    background-image: url("../images/logo_bez_bg100.png");
  }
  nav.mobile {
    height: 15vh;
  }
  nav.mobile h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 15vh;
  }
  nav.mobile div.burger i {
    line-height: 15vh;
  }
}
@media (min-width: 650px) and (orientation: landscape) {
  header {
    height: 40vh;
  }
  header div.logo {
    width: 150px;
    height: 150px;
    background-image: url("../images/logo_bez_bg150.png");
  }
}
@media (min-width: 800px) and (orientation: landscape) {
  nav.mobile h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  header {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: auto;
  }
  header div.logo {
    position: absolute;
    top: 100%;
    left: -5%;
    width: 150px;
    height: 150px;
    transform: translate(50%, -50%);
    background-image: url(../images/logo_bez_bg150.png);
    cursor: pointer;
    z-index: 1;
  }
  header div.logo:hover {
    background-image: url(../images/logo_hover150.png);
  }
  header nav.desktop {
    position: relative;
    display: block;
    top: 0;
    left: 20%;
    height: 10vh;
    width: 80%;
    background-color: rgb(0, 0, 0);
  }
  header nav.desktop.active {
    height: 50vh;
  }
  header nav.desktop.active ul {
    display: block;
  }
  header nav.desktop h1 {
    display: none;
  }
  header nav.desktop ul {
    display: block;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 0;
    position: absolute;
    list-style-type: none;
  }
  header nav.desktop ul li {
    position: relative;
    display: inline-block;
    margin: 4.2vh 10px 0 0;
    height: 46%;
    width: 12.5%;
    background-color: black;
    overflow: hidden;
  }
  header nav.desktop ul li:nth-last-of-type(2) {
    margin-left: 25%;
  }
  header nav.desktop ul li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    text-transform: none;
    text-decoration: none;
    color: white;
  }
  header nav.desktop ul li::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0%;
    left: -100%;
    width: 60%;
    height: 10%;
    background-color: #8cf459;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s 0.1s;
  }
  header nav.desktop ul li:hover::after {
    bottom: 0;
    left: 20%;
    opacity: 1;
    background-color: #8cf459;
    transition: opacity 0.1s, left 0.5s;
  }
  header nav.desktop div.burger {
    display: none;
  }
  nav.mobile {
    display: none;
  }
}
@media (min-width: 1368px) and (orientation: landscape) {
  header div.logo {
    left: -2%;
  }
  header nav.desktop ul li a {
    font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  header nav ul li a {
    font-size: 1.8rem;
  }
}
@-webkit-keyframes logoAnimate100 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes logoAnimate100 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
footer {
  background-color: black;
  color: white;
}
footer div.socials {
  text-transform: uppercase;
}
footer div.socials p.contact {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 0;
}
footer div.socials p.social {
  text-align: left;
  font-size: 1rem;
  width: 65%;
  margin: 0 auto 15px auto;
}
footer div.socials p.social i {
  font-size: 1.3rem;
  padding-right: 10px;
  color: #179CF0;
  vertical-align: -4px;
}
footer div.map, footer div.socials, footer div.copy {
  width: 95%;
  margin: 0 auto 35px auto;
  border-top: 1px solid gray;
}
footer div.map {
  overflow: hidden;
}
footer div.map p {
  text-align: center;
  font-size: 1.3rem;
  padding: 20px 0;
  text-transform: uppercase;
}
footer div.map iframe {
  display: block;
  margin: 10px auto;
}
footer div.copy p {
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
}

@media (min-width: 667px) and (orientation: landscape) {
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer div.socials, footer div.map {
    flex-basis: 47%;
  }
  footer div.socials p.social {
    margin: 15px auto;
    width: 70%;
  }
}
@media (min-width: 896px) and (orientation: landscape) {
  footer div.socials p.social {
    width: 60%;
  }
}
@media (min-width: 915px) and (orientation: landscape) {
  footer div.socials p.social, footer div.copy p {
    font-size: 1.3rem;
  }
  footer div.socials p.contact, footer div.map p {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  footer div.socials p.social, footer div.copy p {
    font-size: 1.6rem;
  }
  footer div.socials p.social {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  footer div.socials p.contact {
    font-size: 1.9rem;
  }
  footer div.map p {
    font-size: 1.9rem;
  }
  footer div.map iframe {
    height: 300px;
    width: 400px;
  }
  footer div.socials p.social i {
    font-size: 2.1rem;
  }
}
@media (min-width: 918px) {
  footer div.map iframe {
    height: 250px;
    width: 350px;
  }
  footer div.socials p.social {
    width: 80%;
    margin: 0 auto 15px auto;
  }
}
@media (min-width: 1024px) {
  footer {
    padding-top: 100px;
  }
  footer div.socials p.social {
    width: 60%;
    margin: 0 auto 15px auto;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=landingPage.css.map */