*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: roboto, sans-serif
  font-weight: bold
body
  display: flex
  flex-direction: column
  font-family: arial, sans-serif
  color: white
  font-size: 10px
  min-height: 100vh
