*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: roboto, sans-serif
  font-weight: bold

body
  font-family: arial, sans-serif
  color: white
  font-size: 10px
  background-color: #1d2538
.bgLimeActive
  background-image: url("../../images/bgLime.png")
  border-radius: 0
.bgBlueActive
  background-image: url("../../images/bgBlue.png")
  border-radius: 0
.bgGreenActive
  background-image: url("../../images/bgGreen.png")
  border-radius: 0
.bgBlackActive
  background-image: url("../../images/bgBlack2.png")
  border-radius: 0