div.chooseList
    display: none
    width: 100%
    text-align: center
    transition: .3s
    padding: 10px 0
    background-color: rgba(0,0,0,.5)
    // background-color: transparent
    p
        width: 100%

        font-size: 0.9rem

@media (min-width: 740px) and (orientation: portrait)
    div.chooseList
        p
            font-size: 2rem

@media (min-width: 740px) and (orientation: landscape)
    div.chooseList
        p
            font-size: 1.5rem

@media (min-width: 1024px) and (orientation: landscape)
    div.chooseList
        border-radius: 20px
        width: 90%
        margin: 10px auto 0 auto
        p
            font-size: 2rem
