div.wrap
    min-height: 100vh
    main
        background-color: #1d2538
        padding: 10px 0
        border-radius: 20px
        section.menu
            position: relative
            display: none
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            i.fa-arrow-up
                position: absolute
                top: 2px
                left: 20px
                font-size: 2rem
                transform: rotate(-90deg)
                cursor: pointer
            h2
                margin: 10px auto
                word-wrap: break-word
                text-align: center
                text-transform: uppercase
                font-size: 1rem
                color: #179CF0
                border-radius: 10px
                width: 56%
                padding: 0 0 5px 0
            p
                word-wrap: break-word
                width: 100%
                text-align: center
                font-size: 0.9rem
                margin: 0 auto 8px
                color: white
                padding: 10px 20px
            div.addEvent, div.editEvent
                position: relative
                flex-direction: row
                display: none
                flex-direction: column
                width: 90%
                border: 3px solid gray
                border-radius: 8px
                margin-bottom: 10px
                .close
                    font-size: 3rem
                    text-align: right
                    cursor: pointer
                h2
                    width: 100%
                    border: none
                    font-size: 1.5rem
                .close
                    font-size: 2.5rem
                    position: absolute
                    top: 0
                    right: 5%
                form
                    display: flex
                    flex-wrap: wrap
                    flex-direction: row
                    justify-content: space-around
                    padding-bottom: 20px
                    input, select, textarea
                        color: gray
                        flex-basis: 95%
                        &:focus
                            color: black
                    input[placeholder], textarea[placeholder]
                        text-align: left
                    input
                        &:nth-last-of-type(1)
                            flex-basis: 22%
                            height: 10%
                    select
                        &:nth-last-of-type(1)
                            flex-basis: 22%
                            height: 10%
                            margin-bottom: 8px
                    button
                        flex-basis: 57%
                        font-size: 1.5rem
            select.sort
                background-color: rgba(0,0,0,0.5)
                color: white
                padding: 5px
                font-size: 0.6rem
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2)
            div.events
                display: flex
                flex-wrap: wrap
                justify-content: center
                div.addEventBtn
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-basis: 90%
                    height: 50px
                    text-align: center
                    margin: 10px auto
                    i
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 7vh
                        height: 7vh
                        border: 1px solid gray
                        font-size: 2rem
                        padding: 20px
                        border-radius: 50%
                        transition: 0.5s
                        cursor: pointer
                        &:hover
                            background-color: royalblue
                        &.active
                            transform: translateX(0%) rotate(45deg)
                            color: black
                            border-color: black
                            background-color: royalblue
                div.listEvent
                    position: relative
                    display: flex
                    flex-basis: 90%
                    flex-wrap: wrap
                    min-height: 100px
                    margin: 10px 0
                    border-radius: 20px
                    background-color: rgb(38, 62, 92)
                    color: #e0e1dc
                    transition: .5s
                    z-index: 0
                    cursor: pointer
                    overflow: hidden
                    &:hover
                        box-shadow: 0px 0px 5px 10px #2d3947

                    div.eventColor
                        position: absolute
                        height: 10px
                        width: 80%
                        background-color: red
                        transform: rotate(135deg)
                        z-index: 1
                        top: 90%
                        right: -30%
                        box-shadow: 0 0 10px yellow
                    h1
                        flex-basis: 70%
                        margin: 0 auto 10px auto
                        font-size: 1.1rem
                        font-family: monospace
                        padding-top: 10px
                        color: white
                        text-shadow: 0 0 10px yellow
                        text-align: center
                        word-break: break-all
                    p
                        position: relative
                        display: flex
                        flex-direction: column
                        flex-basis: 45%
                        margin: 5px auto
                        font-family: monospace
                        padding-top: 30px
                        padding-left: 10px
                        padding-right: 10px
                        font-size: 0.8rem
                        word-break: break-all
                        text-shadow: none
                        width: 100%
                        justify-content: space-between
                        align-items: center
                        &:nth-of-type(1)
                            flex-basis: 95%

                        i
                            position: absolute
                            top: 0
                            margin: 5px 0
                            text-shadow: 0 0 10px blue
                            flex-basis: 10%
                            color: white
                            font-size: 1rem
                    div.editListEvent
                        position: absolute
                        top: 10px
                        left: 15px
                        i
                            display: block
                            font-size: 1rem
                            transition: 0.3s
                            color: white
                            &:hover
                                color: yellow
                    div.removeListEvent
                        position: absolute
                        top: 10px
                        right: 15px
                        i
                            display: block
                            font-size: 1rem
                            transition: 0.3s
                            color: white
                            &:hover
                                color: red
            form
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                height: 90%
                text-align: center
                width: 95%
                margin: 0 auto
                input
                    text-align: center
                    width: 100%
                    padding: 5px 20px
                    border: 2px solid #ccc
                    border-radius: 4px
                    font-size: 1rem
                    margin-bottom: 8px
                    color: black
                    &:nth-last-of-type(1)
                        width: 27%
                        height: 15%
                textarea
                    text-align: center
                    width: 100%
                    flex-basis: 50%
                    padding: 5px 20px
                    border: 2px solid #ccc
                    border-radius: 4px
                    background-color: #f8f8f8
                    resize: none
                    font-size: 1rem
                    margin-bottom: 8px
                button
                    margin-top: 5%
                    padding: 5px 10px
                    border-radius: 10px
                    background-color: #179CF0
                    color: white
                    border: 1px solid #179CF0
                    box-shadow: 0 0 0 2px white, 0 0 0 4px black
                    cursor: pointer
                    transition: 0.3s
                    font-size: 1rem
                    margin-bottom: 15px
                    &:hover
                        background-color: #14130C
                        border-color: transparent
                        box-shadow: 0 0 0 5px black, 0 0 0 7px white

@media (min-width:360px) and (orientation:portrait)
    div.wrap
        main
            section.menu
                div.events, div.editEvent, div.addEvent
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 20%
                        button
                            flex-basis: 61%

@media (min-width:375px) and (orientation:portrait)
    div.wrap
        main
            section.menu
                h2
                    width: 65%
                    font-size: 1.1rem
                p
                    font-size: 1rem
                div.events, div.editEvent, div.addEvent
                    div.listEvent
                        p
                            font-size: 1rem
                            i
                                dont-size: 1rem
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 19%
                        button
                            flex-basis: 60%

@media (min-width:411px) and (orientation:portrait)
    div.wrap
        main
            section.menu
                select.sort
                    margin-bottom:20px
                    font-size: 0.8rem
                div.editEvent, div.addEvent
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 18%
                                height: 10%
                        button
                            flex-basis: 61%

@media (min-width:540px) and (orientation:portrait)
    div.wrap
        main
            section.menu
                form
                    input
                        &:nth-last-of-type(1)
                            width: 23%
                            height: 16%
                div.events, div.editEvent, div.addEvent
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 15%
                        button
                            flex-basis: 64%
                div.events
                    div.addEventBtn
                        margin: 15px auto
@media (min-width:580px) and (orientation:portrait)
    div.wrap
        main
            section.menu
                div.addEvent, div.editEvent
                    form
                        button
                            flex-basis: 66%
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 13%

@media (min-width:768px) and (orientation: portrait)
    div.wrap
        main
            section.menu
                select.sort
                    font-size: 1.7rem
                    width: 380px
                    option
                        font-size: 1.2rem
                        width: 100%
                div.events
                    div.listEvent
                        margin: 20px 0
                        h1
                            font-size: 1.8rem
                        div.editListEvent
                            i
                                font-size: 1.8rem
                        div.removeListEvent
                            i
                                font-size: 1.8rem
                        p
                            padding: 50px 10px
                            font-size: 1.3rem
                            i
                                font-size: 1.7rem
                i.fa-arrow-up
                    font-size: 3rem
                h2
                    width: 70%
                    font-size: 1.8rem
                p
                    font-size: 1.2rem
                div.editEvent, div.addEvent
                    padding-bottom: 20px
                    max-width: 700px
                    h2
                        font-size: 3rem
                    .close
                        font-size: 3rem

                    div.listEvent
                        margin: 20px 0
                        h1
                            font-size: 2rem
                        div.editListEvent
                            i
                                font-size: 2rem
                        div.removeListEvent
                            i
                                font-size: 2rem
                        p
                            padding: 50px 10px
                            font-size: 1.7rem
                            i
                                font-size: 1.7rem
                    form
                        width: 85%
                        input
                            font-size: 1.7rem
                            &:nth-last-of-type(1)
                                flex-basis: 14%
                        textarea
                            font-size: 1.7rem
                        select
                            font-size: 1.7rem
                            &:nth-last-of-type(1)
                                flex-basis: 14%
                        button
                            flex-basis: 74%
                            font-size: 2.5rem

@media (min-width:820px) and (orientation: portrait)
    div.wrap
        main
            section.menu
                select.sort
                    font-size: 1.7rem
                    width: 380px
                    option
                        font-size: 1.2rem
                        width: 100%
                i.fa-arrow-up
                    font-size: 3rem
                h2
                    width: 70%
                    font-size: 2rem
                p
                    font-size: 1.7rem
                div.events, div.editEvent, div.addEvent
                    max-width: 700px
                    div.listEvent
                        margin: 20px 0
                        h1
                            font-size: 2rem
                        div.editListEvent
                            i
                                font-size: 2rem
                        div.removeListEvent
                            i
                                font-size: 2rem
                        p
                            padding: 50px 10px
                            font-size: 1.7rem
                            i
                                font-size: 1.7rem
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 12%
                        button
                            flex-basis: 76%
                    div.addEventBtn
                        margin: 25px auto

@media (min-width:912px) and (orientation: portrait)
    div.wrap
        main
            section.menu
                i.fa-arrow-up
                    font-size: 3rem
                h2
                    width: 70%
                    font-size: 2rem
                p
                    font-size: 1.7rem
                div.events, div.editEvent, div.addEvent
                    form
                        button
                            flex-basis: 73%
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 14%
                    div.listEvent
                        margin: 20px 0
                        h1
                            font-size: 2rem
                        div.editListEvent
                            i
                                font-size: 2rem
                        div.removeListEvent
                            i
                                font-size: 2rem
                        p
                            padding: 50px 10px
                            font-size: 1.7rem
                            i
                                font-size: 1.7rem
@media (min-width: 533px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                h2
                    width: 75%
                p
                    width: 95%
                div.addEvent, div.editEvent
                    form
                        button
                            flex-basis: 76%
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 14%
                        select
                            &:nth-last-of-type(1)
                                flex-basis: 11%
@media (min-width: 640px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                h2
                    width: 75%
                p
                    width: 95%
                div.addEvent, div.editEvent
                    form
                        button
                            flex-basis: 79%
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 11%
                        select
                            &:nth-last-of-type(1)
                                flex-basis: 11%
@media (min-width: 800px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                div.addEvent, div.editEvent
                    max-width: 700px
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 10%
                        button
                            flex-basis: 82%
@media (min-width: 823px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                h2
                    width: 75%
                p
                    width: 90%
                div.events
                    div.listEvent
                        max-width: 700px
                div.addEvent, div.editEvent
                    max-width: 700px
                    form
                        button
                            flex-basis: 79%
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 10%
                        select
                            &:nth-last-of-type(1)
                                flex-basis: 12%

@media (min-width: 896px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                h2
                    width: 75%
                    font-size: 2rem
                p
                    width: 90%
                    font-size: 1.7rem
                div.events
                    div.listEvent
                        max-width: 700px
                div.addEvent, div.editEvent
                    max-width: 700px
                    form
                        button
                            flex-basis: 79%
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 10%
                        select
                            &:nth-last-of-type(1)
                                flex-basis: 12%

@media (min-width:1024px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                // display: flex
                flex-direction: column
                align-items: center
                select.sort
                    margin-top: 20px
                    font-size: 1.7rem
                    width: 380px
                    option
                        font-size: 1.2rem
                        width: 100%
                i.fa-arrow-up
                    left: 40px
                    font-size: 3rem
                h2
                    width: 80%
                    font-size: 2rem
                p
                    font-size: 1.5rem
                    padding: 20px 40px 0 40px
                    margin: 0
                div.addEvent, div.editEvent
                    margin-top: 20px
                    width: 55%
                    h2
                        font-size: 2rem
                    .close
                        font-size: 4rem
                        top: -2%
                        right: 3%
                    form
                        width: 75%
                        input, textarea, select
                            font-size: 1.5rem
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 19%
                                height: 10%
                        button
                            flex-basis: 74%
                div.events
                    margin: 0
                    flex-direction: row
                    flex-basis: 70%
                    justify-content: space-around
                    div.listEvent
                        flex-basis: 100%
                        align-content: center
                        margin-bottom: 20px
                        padding-bottom: 20px
                        h1
                            font-size: 2rem
                        p
                            flex-basis: 45%
                            font-size: 1.4rem
                            margin-bottom: 10px
                            i
                                font-size: 1.4rem
                        div.removeListEvent
                            i
                                top: 10px
                                left: -10px
                                font-size: 1.5rem
                        div.editListEvent
                            i
                                top: 10px
                                left: 10px
                                font-size: 1.5rem

                    div.addEventBtn
                        font-size: 4rem
                        margin: 50px 0
                        i
                            height: 12vh
                            width: 12vh
                            font-size: 4rem

@media (min-width:1180px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                select.sort
                    margin-top: 0
                    margin-bottom: 20px
                    font-size: 1.7rem
                    width: 380px
                    option
                        font-size: 1.2rem
                        width: 100%
                p
                    padding: 20px 80px 0 80px
                    margin-bottom: 30px
                div.events
                    div.listEvent
                        margin-top: 30px
                        flex-basis: 90%
                    div.addEventBtn
                        margin: 30px 0
                div.editEvent, div.addEvent
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 15%
                                height: 10%
                        button
                            flex-basis: 74%

@media (min-width:1280px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                p
                    padding: 20px 80px 0 80px
                    margin-bottom: 30px
                div.events
                    div.listEvent
                        margin-top: 30px
                        flex-basis: 90%
                    div.addEventBtn
                        margin: 30px 0
                div.editEvent, div.addEvent
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 15%
                                height: 10%
                        button
                            flex-basis: 74%
@media (min-width:1350px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                select.sort
                    margin-top: 0
                    margin-bottom: 20px
                    font-size: 1.7rem
                    width: 480px
                    option
                        font-size: 1.2rem
                        width: 100%
@media (min-width:1368px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                p
                    padding: 20px 80px 0 80px
                    margin-bottom: 30px
                div.events
                    div.listEvent
                        margin-top: 30px
                        flex-basis: 90%
                    div.addEventBtn
                        margin: 30px 0
                div.editEvent, div.addEvent
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 15%
                                height: 10%
                        button
                            flex-basis: 80%

@media (min-width:1400px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                select.sort
                    margin-top: 0
                    margin-bottom: 20px
                    font-size: 1.7rem
                    width: 860px
                    option
                        font-size: 1.2rem
                        width: 100%
                h2
                    max-width: 1100px
                i.fa-arrow-up
                    left: 70px
                p
                    width: 100%
                div.events
                    div.listEvent
                        flex-basis: 700px
                div.addEvent, div.editEvent
                    max-width: 700px
                    form
                        input
                            &:nth-last-of-type(1)
                                flex-basis: 73px
                                height: 42px
                        button
                            font-size: 2rem
@media (min-width:1800px) and (orientation:landscape)
    div.wrap
        main
            section.menu
                select.sort
                    margin-top: 0
                    margin-bottom: 20px
                    font-size: 1.7rem
                    width: 680px
                    option
                        font-size: 1.2rem
                        width: 100%