header
    position: sticky
    top: 0
    left: 0
    display: flex
    width: 100%
    height: 10vh
    background-color: black
    color: #e0e1dc
    z-index: 2
    &.sun
        background-color:#504d4d

div.leftHeader
    position: relative
    flex-basis: 20%
    .burger
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 80%
        height: 60%
    span
        position: absolute
        width: 70%
        height: 12%
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        background-color: #e0e1dc
        transition: transform .2s, top .2s .2s
        &:nth-child(1)
            top: 20%
        &:nth-child(2)
            top: 50%
        &:nth-child(3)
            top: 80%
    .burger.active span
        transition: top .2s, transform .2s .2s
        &:nth-child(1)
            top: 50%
            transform: translate(-50%,-50%) rotate(45deg)
        &:nth-child(2)
            opacity: 0
        &:nth-child(3)
            top: 50%
            transform: translate(-50%,-50%) rotate(-45deg)
div.rightHeader
    flex-basis: 80%
    word-break: break-all
    overflow: hidden
    i
        padding-right: 5px
        font-size: 1rem
    p
        text-align: right
        padding-right: 10px
        font-size: 1rem
        line-height: 10vh

@media (min-width: 280px) and (orientation: portrait)
    div.rightHeader
        display: flex
        flex-direction: row
        justify-content: flex-end
        p,i
            font-size: 1rem
            margin-left: 10px
        img
            border-radius: 50%
            margin: 10px 0
            box-shadow: 0 0 10px yellow
@media (min-width: 320px) and (orientation: portrait)
    div.leftHeader
        .burger
            width: 60%
            height: 60%

    div.rightHeader
        display: flex
        flex-direction: row
        justify-content: flex-end
        p,i
            font-size: 1rem
            margin-left: 10px
        img
            border-radius: 50%
            margin: 10px 0
            box-shadow: 0 0 10px yellow

@media (min-width: 360px) and (orientation: portrait)
    div.leftHeader
        .burger
            width: 70%

    div.rightHeader
        padding-right: 10px
        p,i
            font-size: 1.2rem
            margin-left: 15px

@media (min-width: 390px) and (orientation: portrait)
    div.leftHeader
        .burger
            height: 50%

@media (min-width: 411px) and (orientation: portrait)
    div.rightHeader
        p,i
            font-size: 1.4rem
        img
            margin: 10px 0

@media (min-width: 500px) and (orientation: portrait)
    div.leftHeader
        .burger
            width: 55%
            height: 60%
@media (min-width: 533px) and (orientation: landscape)
    div.leftHeader
        flex-basis: 10%
        .burger
            width: 55%
            height: 60%
    div.rightHeader
        display: flex
        flex-direction: row
        justify-content: flex-end
        flex-basis: 90%
        p
            margin-left: 10px
        img
            margin: 2px 0
            border-radius: 50%
            box-shadow: 0 0 10px black

@media (min-width: 700px)
    div.leftHeader
        flex-basis: 10%
    div.rightHeader
        flex-basis: 90%

@media (min-width: 750px) and (orientation: portrait)
    div.leftHeader
        flex-basis: 14%
        padding: 0
        .burger
            width: 70%
            height: 50%
    div.rightHeader
        flex-basis: 86%
        padding-right: 20px
        p,i
            font-size: 1.9rem

@media (min-width: 820px) and (orientation: portrait)
    div.leftHeader
        flex-basis: 13%
        .burger
            width: 70%
            height: 50%

    div.rightHeader
        padding-right: 20px
        flex-basis: 87%
        p,i
            font-size: 2rem

@media (min-width: 820px) and (orientation: landscape)
    div.leftHeader
        flex-basis: 10%
        .burger
            width: 50%
            height: 60%
    div.rightHeader
        flex-basis: 90%
        img
            margin: 5px 0

@media (min-width: 900px)
    div.leftHeader
        .burger
            width: 50%
            height: 60%
    div.rightHeader
        p,i
            font-size: 1.3rem
@media (min-width: 912px)
    div.leftHeader
        flex-basis: 13%
        .burger
            width: 70%
            height: 60%
    div.rightHeader
        flex-basis: 87%
        p,i
            font-size: 2rem

@media (min-width: 914px) and (orientation: landscape)
    div.leftHeader
        flex-basis: 10%
        .burger
            width: 50%
            height: 69%
    div.rightHeader
        flex-basis: 87%
@media (min-width:1024px) and (orientation:landscape)
    header
        display: flex
        position: relative
        justify-content: flex-end
        background-color: transparent
        width: 100%
        margin: 0 auto
        z-index: -1
        &.sun
            background-color:#504d4d
        // border-bottom: 1px solid gray
        div.leftHeader
            display: none
            div.burger
                display: none
        div.rightHeader
            i
                padding-right: 10px
            p,i
                font-size: 1.6rem
            img
                margin: 10px 0
