header
    position: sticky
    top: 0
    left: 0
    display: flex
    width: 100%
    height: 10vh
    background-color: black
    color: #e0e1dc
div.leftHeader
    flex-basis: 20%
    .burger
        position: relative
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 30px
        height: 30px
    span
        position: absolute
        width: 100%
        height: 5px
        background-color: #e0e1dc
        transition: transform .2s, top .2s .2s
        &:nth-child(1)
            top: 0
            left: 0
        &:nth-child(2)
            top: calc(50% - 5px)
            left: 0
        &:nth-child(3)
            top: calc(100% - 10px)
            left: 0
    .burger.active span
        transition: top .2s, transform .2s .2s
        &:nth-child(1)
            top: calc(50% - 5px)
            transform: rotate(45deg)
        &:nth-child(2)
            opacity: 0
        &:nth-child(3)
            top: calc(50% - 5px)
            transform: rotate(-45deg)
div.rightHeader
    flex-basis: 80%
    i
        padding-right: 5px
        font-size: 1.3rem
    p
        text-align: right
        margin-right: 5px
        font-size: 1rem
        line-height: 10vh

@media (min-width: 760px) and ( orientation: portrait  )
    div.rightHeader
        p
            font-size: 1.2rem

    div.leftHeader
        .burger
            height: 40px
            width: 40px

@media (min-width:1024px) and (orientation:landscape)
    header
        display: flex
        position: relative
        justify-content: flex-end
        background-color: transparent
        width: 85%
        margin: 0 auto
        border-bottom: 1px solid gray
        div.leftHeader
            display: none
            div.burger
                display: none
        div.rightHeader
            i
                padding-right: 10px
            p
                font-size: 1.5rem
