div.wrap
    main
        background-color: #1d2538
        padding: 10px 0
        border-radius: 20px
        section.lists
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-around
            h1
                font-size: 1.5rem
                width: 100%
                text-align: center
                letter-spacing: 2px
                text-transform: uppercase
            div.list
                flex-basis: 90%
                height: 100px
                margin: 10px 0
                border-radius: 20px
                background-color: #263e5c
                color: #e0e1dc
                transition: .5s
                &:hover
                    box-shadow: 0px 0px 5px 10px #2d3947
            div.addList
                display: flex
                justify-content: center
                align-items: center
                flex-basis: 90%
                height: 50px
                text-align: center
                i
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 7vh
                    height: 7vh
                    border: 1px solid gray
                    font-size: 2rem
                    padding: 20px
                    border-radius: 50%
                    transition: 0.5s
                    &:hover
                        background-color: royalblue
                    &.active
                        transform: translateX(0%) rotate(45deg)
                        color: black
                        border-color: black
                        background-color: royalblue

@media (min-width: 414px) and (orientation: portrait)
    div.wrap
        main
            section.lists
                div.list
                    height: 120px

@media (min-width: 760px)
    div.wrap
        main
            padding: 10px 10px
            section.lists
                div.list
                    flex-basis: 49%
                    height: 150px

@media (min-width:1024px)
    div.wrap
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-end
        margin-left: 5%
        width: 95%
        header
            display: flex
            flex-direction: row
        main
            width: 100%
            border-radius: 20px
            min-height: 83vh
            section.lists
                display: flex
                justify-content: flex-start
                h1
                    font-size: 2.5rem
                    letter-spacing: 3px
                div.list
                    display: flex

                    flex-basis: 46%
                    height: 150px
                    margin: 20px 2%
                div.addList
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-basis: 46%
                    height: 150px
                    margin: 20px 2%
                    text-align: center
                    border-radius: 20px
                    align-self: flex-start
                    i
                        font-size: 5rem
                        border: 2px solid gray
                        padding: 20px
                        border-radius: 50%
                        width: 124px
                        height: 124px
