#popUpList
    display: none
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    color: black
    overflow: auto
    background-color: rgba(0,0,0,.6)
    z-index: 1
    .modal-content
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 80%
        height: 80%
        padding: 20px
        background-color: #fefefe
        border: 1px solid #888
        border-radius: 20px
        h2
            width: 100%
            padding: 5px
            text-align: center
            text-transform: uppercase
            font-size: 1rem
            margin-bottom: 8px
        p
            word-wrap: break-word
        .close
            position: absolute
            top: 0
            right: 5%
            color: #aaa
            font-size: 2.5rem
            font-weight: bold
        .close:hover,
        .close:focus
            color: black
            text-decoration: none
            cursor: pointer
        section.menu
            display: flex
            flex-direction: row
            form
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                height: 90%
                text-align: center
                input
                    width: 100%
                    padding: 5px 20px
                    border: 2px solid #ccc
                    border-radius: 4px
                    font-size: 1rem
                    margin-bottom: 8px
                textarea
                    width: 100%
                    flex-basis: 50%
                    padding: 5px 20px
                    border: 2px solid #ccc
                    border-radius: 4px
                    background-color: #f8f8f8
                    resize: none
                    font-size: 1rem
                    margin-bottom: 8px
                button
                    margin-top: 5%
                    padding: 5px 10px
                    border-radius: 10px
                    background-color: #179CF0
                    color: white
                    border: 1px solid #179CF0
                    box-shadow: 0 0 0 2px white, 0 0 0 4px black
                    cursor: pointer
                    transition: 0.3s
                    font-size: 1rem
                    margin-bottom: 15px
                    &:hover
                        background-color: #14130C
                        border-color: transparent
                        box-shadow: 0 0 0 5px black, 0 0 0 7px white
.modal
    display: none
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    color: black
    overflow: auto
    background-color: rgba(0,0,0,.6)
    z-index: 1
    .modal-content
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 70%
        height: 35%
        padding: 20px
        background-color: #fefefe
        border: 1px solid #888
        border-radius: 20px
        h2
            width: 100%
            padding: 5px
            text-align: center
            text-transform: uppercase
            font-size: 1rem
            margin-bottom: 8px
        .close
            position: absolute
            top: 0
            right: 5%
            color: #aaa
            font-size: 2.5rem
            font-weight: bold
        .close:hover,
        .close:focus
            color: black
            text-decoration: none
            cursor: pointer
        form
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            height: 90%
            text-align: center
            input
                width: 100%
                padding: 5px 20px
                border: 2px solid #ccc
                border-radius: 4px
                font-size: 1rem
                margin-bottom: 8px

            textarea
                width: 100%
                flex-basis: 50%
                padding: 5px 20px
                border: 2px solid #ccc
                border-radius: 4px
                background-color: #f8f8f8
                resize: none
                font-size: 1rem
                margin-bottom: 8px
            button
                margin-top: 5%
                padding: 5px 10px
                border-radius: 10px
                background-color: #179CF0
                color: white
                border: 1px solid #179CF0
                box-shadow: 0 0 0 2px white, 0 0 0 4px black
                cursor: pointer
                transition: 0.3s
                font-size: 1rem
                margin-bottom: 15px
                &:hover
                    background-color: #14130C
                    border-color: transparent
                    box-shadow: 0 0 0 5px black, 0 0 0 7px white

@media (min-width:533px) and (orientation:landscape)
    .modal
        .modal-content
            width: 50%
            height: 70%

@media (max-height: 580px)
    .modal
        .modal-content
            width: 330px
            height: 230px

@media (min-width:640px) and (orientation:landscape)
    .modal
        .modal-content
            width: 300px
            height: 250px
            h2
                font-size: 1.2rem
                text-transform: uppercase
            form
                input
                    font-size: 1.2rem
                textarea
                    font-size: 1.2rem
                button
                    font-size: 1.2rem

@media (min-width:670px) and (orientation:portrait)
    .modal
        .modal-content
            width: 540px
            height: 370px
            h2
                font-size: 1.5rem
                text-transform: uppercase
            form
                input
                    font-size: 1.4rem
                textarea
                    font-size: 1.4rem
                button
                    font-size: 1.4rem

@media (min-width:768px) and (orientation:portrait)
    .modal
        .modal-content
            h2
                font-size: 2rem
            form
                input
                    font-size: 1.6rem
                textarea
                    font-size: 1.6rem
                button
                    font-size: 1.6rem
@media (min-width:930px) and (orientation:landscape)
    .modal
        .modal-content
            width: 540px
            height: 370px
            h2
                font-size: 1.5rem
                text-transform: uppercase
            form
                input
                    font-size: 1.6rem
                textarea
                    font-size: 1.6rem
                button
                    font-size: 1.6rem

@media (min-width:1024px) and (orientation:landscape)
    .modal
        .modal-content
            position: absolute
            width: 540px
            height: 370px
            top: 50%
            left: calc(50% + $navSizeDesktop/2)
            transform: translate(-50%,-50%)
            h2
                font-size: 1.5rem
                letter-spacing: 2px
                text-transform: uppercase
            .close
                font-size: 4rem
            form
                height: 80%
                textarea
                    height: 60%
                input, textarea, button
                    font-size: 1.6rem

@media (min-width:1400px) and (orientation:landscape)
    .modal
        .modal-content
            width: 540px
            height: 370px
