* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  color: white;
  font-size: 10px;
  min-height: 100vh;
}

nav.menuMobile {
  position: fixed;
  top: 10%;
  left: -50%;
  height: 100vh;
  background-color: rgb(255, 255, 0);
  background-image: linear-gradient(0deg, rgb(255, 255, 0) 1%, rgb(255, 105, 31) 6%, rgb(200, 50, 50) 12%, rgb(206, 42, 42) 0%, rgb(105, 33, 33) 19%, rgb(0, 0, 0) 26%);
  transition: 0.5s;
}
nav.menuMobile ul {
  margin-top: 20px;
  list-style-type: none;
}
nav.menuMobile ul li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid white;
}
nav.menuMobile ul li a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav.menuMobile ul li:nth-last-of-type(2) {
  margin-top: 70%;
}
nav.menuMobile div.logo {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../images/logo_bez_bg100.png");
  z-index: 3;
}

nav.menuMobile.active {
  left: 0;
  transition: 0.5s;
}

nav.menuDesktop {
  display: none;
}

@media (min-width: 1024px) and (orientation: landscape) {
  nav.menuMobile {
    display: none;
  }
  nav.menuDesktop {
    display: block;
    position: fixed;
    top: 10%;
    left: 0%;
    width: 10vw;
    height: 100vh;
    background-color: rgb(255, 255, 0);
    background-image: linear-gradient(0deg, rgb(255, 255, 0) 1%, rgb(255, 105, 31) 6%, rgb(200, 50, 50) 12%, rgb(206, 42, 42) 0%, rgb(105, 33, 33) 19%, rgb(0, 0, 0) 26%);
    transition: 0.5s;
  }
  nav.menuDesktop ul {
    margin-top: 20px;
    list-style-type: none;
  }
  nav.menuDesktop ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white;
  }
  nav.menuDesktop ul li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav.menuDesktop ul li:nth-last-of-type(2) {
    margin-top: 70%;
  }
}
div.wrap {
  min-height: 100vh;
}

@media (min-width: 1024px) and (orientation: landscape) {
  div.wrap {
    margin-left: 10vw;
  }
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: black;
}
header div.leftHeader {
  flex-basis: 50%;
}
header div.leftHeader .burger {
  position: relative;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
}
header div.leftHeader .burger span {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: white;
  transition: transform 0.2s, top 0.2s 0.2s;
}
header div.leftHeader .burger span:nth-child(1) {
  top: 0;
  left: 0;
}
header div.leftHeader .burger span:nth-child(2) {
  top: calc(50% - 5px);
  left: 0;
}
header div.leftHeader .burger span:nth-child(3) {
  top: calc(100% - 10px);
  left: 0;
}
header div.leftHeader .burger.active span {
  transition: top 0.2s, transform 0.2s 0.2s;
}
header div.leftHeader .burger.active span:nth-child(1) {
  top: calc(50% - 5px);
  transform: rotate(45deg);
}
header div.leftHeader .burger.active span:nth-child(2) {
  opacity: 0;
}
header div.leftHeader .burger.active span:nth-child(3) {
  top: calc(50% - 5px);
  transform: rotate(-45deg);
}
header div.rightHeader {
  flex-basis: 50%;
}
header div.rightHeader p {
  font-size: 1rem;
  line-height: 10vh;
}

@media (min-width: 1024px) and (orientation: landscape) {
  header div.leftHeader div.burger {
    display: none;
  }
}
main {
  height: 100vh;
  background-color: white;
}
main section.lists {
  height: 100%;
  width: 100%;
}
main section.lists div {
  margin: 20px auto;
  width: 90%;
  height: 20%;
  background-color: #E4E4E4;
}

footer {
  background-color: #85B6B1;
  color: white;
  width: 100%;
}
footer div.socials {
  text-transform: uppercase;
}
footer div.socials p.contact {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 0;
}
footer div.socials p.social {
  text-align: left;
  font-size: 1rem;
  width: 65%;
  margin: 0 auto 15px auto;
}
footer div.socials p.social i {
  font-size: 1.3rem;
  padding-right: 10px;
  color: #179CF0;
  vertical-align: -4px;
}
footer div.map, footer div.socials, footer div.copy {
  width: 95%;
  margin: 0 auto 35px auto;
  border-top: 1px solid gray;
}
footer div.map {
  overflow: hidden;
}
footer div.map p {
  text-align: center;
  font-size: 1.3rem;
  padding: 20px 0;
  text-transform: uppercase;
}
footer div.map iframe {
  display: block;
  margin: 10px auto;
}
footer div.copy p {
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
}

@media (min-width: 667px) and (orientation: landscape) {
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer div.socials, footer div.map {
    flex-basis: 47%;
  }
  footer div.socials p.social {
    margin: 15px auto;
    width: 70%;
  }
}
@media (min-width: 896px) and (orientation: landscape) {
  footer div.socials p.social {
    width: 60%;
  }
}
@media (min-width: 915px) and (orientation: landscape) {
  footer div.socials p.social, footer div.copy p {
    font-size: 1.3rem;
  }
  footer div.socials p.contact, footer div.map p {
    font-size: 1.6rem;
  }
}
@media (min-width: 760px) and (orientation: portrait) {
  footer div.socials p.contact, footer div.map p {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  footer div.socials p.social, footer div.copy p {
    font-size: 1.6rem;
  }
  footer div.socials p.social {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  footer div.socials p.contact {
    font-size: 1.9rem;
  }
  footer div.map p {
    font-size: 1.9rem;
  }
  footer div.map iframe {
    height: 300px;
    width: 400px;
  }
  footer div.socials p.social i {
    font-size: 2.1rem;
  }
}
@media (min-width: 844px) and (orientation: landscape) {
  footer div.socials p.social {
    width: 80%;
  }
}
@media (min-width: 918px) {
  footer div.map iframe {
    height: 250px;
    width: 350px;
  }
  footer div.socials p.social {
    width: 80%;
    margin: 0 auto 15px auto;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  footer {
    padding-top: 100px;
  }
  footer div.socials p.social {
    width: 60%;
    margin: 0 auto 15px auto;
    font-size: 1.4rem;
  }
  footer div.socials p.contact, footer div.map p {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  footer div.socials p.contact, footer div.map p {
    font-size: 3.3rem;
  }
  footer {
    max-width: 1600px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=mainPage.css.map */