* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-weight: bold;
}

body {
  font-family: arial, sans-serif;
  color: white;
  font-size: 10px;
  background-color: #1d2538;
}

@-webkit-keyframes logoAnimate100 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes logoAnimate100 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
nav.menuMobile {
  position: fixed;
  top: 10%;
  left: -50%;
  width: 20%;
  height: 90vh;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}
nav.menuMobile ul {
  margin-top: 60px;
  list-style-type: none;
}
nav.menuMobile ul li {
  padding: 15px 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
nav.menuMobile ul li a {
  color: #e0e1dc;
  text-decoration: none;
  font-size: 1.8rem;
}
nav.menuMobile ul li:nth-last-of-type(2) {
  margin-top: 150%;
}

nav.menuMobile.active {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.menuDesktop {
  display: none;
  z-index: 2;
}

@media (min-width: 320px) and (orientation: portrait) {
  nav.menuMobile ul li a {
    font-size: 1.7rem;
  }
}
@media (min-width: 360px) and (orientation: portrait) {
  nav.menuMobile ul {
    margin-top: 120%;
  }
  nav.menuMobile ul li a {
    font-size: 1.9rem;
  }
}
@media (min-width: 390px) and (orientation: portrait) {
  nav.menuMobile ul {
    margin-top: 150%;
  }
  nav.menuMobile ul li a {
    font-size: 2.1rem;
  }
}
@media (min-width: 412px) and (orientation: portrait) {
  nav.menuMobile ul li a {
    font-size: 2.2rem;
  }
}
@media (min-width: 500px) and (orientation: portrait) {
  nav.menuMobile ul {
    margin-top: 70%;
  }
  nav.menuMobile ul li a {
    font-size: 2.2rem;
  }
}
@media (min-width: 533px) and (orientation: landscape) {
  nav.menuMobile {
    width: 10%;
  }
  nav.menuMobile ul {
    margin-top: 0;
  }
  nav.menuMobile ul li a {
    font-size: 1.3rem;
  }
  nav.menuMobile ul li:nth-last-of-type(2) {
    margin-top: 20%;
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  nav.menuMobile ul li a {
    font-size: 1.5rem;
  }
  nav.menuMobile ul {
    margin-top: 10px;
  }
  nav.menuMobile ul li:nth-last-of-type(2) {
    margin-top: 20%;
  }
}
@media (min-width: 640px) and (orientation: landscape) and (max-height: 280px) {
  nav.menuMobile ul li a {
    font-size: 1rem;
  }
  nav.menuMobile ul {
    margin-top: 0;
  }
  nav.menuMobile ul li:nth-last-of-type(2) {
    margin-top: 0;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  nav.menuMobile {
    width: 10%;
  }
  nav.menuMobile ul {
    margin-top: 30px;
  }
  nav.menuMobile ul li a {
    font-size: 2rem;
  }
  nav.menuMobile ul li:nth-last-of-type(2) {
    margin-top: 20px;
  }
}
@media (min-width: 730px) and (orientation: landscape) {
  nav.menuMobile ul {
    margin-top: 15px;
  }
  nav.menuMobile ul li a {
    font-size: 1.4rem;
  }
}
@media (min-width: 750px) {
  nav.menuMobile {
    width: 13%;
  }
  nav.menuMobile ul {
    margin-top: 150%;
  }
  nav.menuMobile ul li a {
    font-size: 2.8rem;
  }
}
@media (min-width: 820px) and (orientation: portrait) {
  nav.menuMobile ul {
    margin-top: 200%;
  }
  nav.menuMobile ul li a {
    font-size: 3.5rem;
  }
}
@media (min-width: 812px) and (orientation: landscape) {
  nav.menuMobile {
    width: 10%;
  }
  nav.menuMobile ul {
    margin-top: 10px;
  }
  nav.menuMobile ul li a {
    font-size: 1.6rem;
  }
  nav.menuMobile ul li:nth-last-of-type(2) {
    margin-top: 40%;
  }
}
@media (min-width: 844px) and (orientation: landscape) {
  nav.menuMobile ul li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) and (orientation: portrait) {
  nav.menuMobile ul li a {
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  nav.menuMobile {
    display: none;
  }
  nav.menuDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 7%;
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#000000));
    background: linear-gradient(0deg, #000000, #000000);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav.menuDesktop ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none;
    height: 100%;
  }
  nav.menuDesktop ul li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
  }
  nav.menuDesktop ul li:nth-last-child(2) {
    height: 25%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav.menuDesktop ul li:nth-child(2) a::after {
    content: "Add list";
  }
  nav.menuDesktop ul li:nth-child(3) a::after {
    content: "Edit list";
  }
  nav.menuDesktop ul li:nth-child(4) a::after {
    content: "My Profile";
  }
  nav.menuDesktop ul li:nth-child(5) a::after {
    content: "Sign out";
  }
  nav.menuDesktop ul li a {
    position: relative;
    display: block;
    font-size: 2.5rem;
    color: white;
  }
  nav.menuDesktop ul li a::after {
    position: absolute;
    content: "Display lists";
    display: none;
    top: -60%;
    font-size: 1.2rem;
    background-color: gray;
    left: 90%;
    white-space: nowrap;
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
  }
  nav.menuDesktop ul li a:hover::after {
    display: block;
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: #e0e1dc;
  z-index: 1;
}

div.leftHeader {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
div.leftHeader .burger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
}
div.leftHeader span {
  position: absolute;
  width: 70%;
  height: 12%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e0e1dc;
  -webkit-transition: top 0.2s 0.2s, -webkit-transform 0.2s;
  transition: top 0.2s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, top 0.2s 0.2s;
  transition: transform 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s;
}
div.leftHeader span:nth-child(1) {
  top: 20%;
}
div.leftHeader span:nth-child(2) {
  top: 50%;
}
div.leftHeader span:nth-child(3) {
  top: 80%;
}
div.leftHeader .burger.active span {
  -webkit-transition: top 0.2s, -webkit-transform 0.2s 0.2s;
  transition: top 0.2s, -webkit-transform 0.2s 0.2s;
  transition: top 0.2s, transform 0.2s 0.2s;
  transition: top 0.2s, transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}
div.leftHeader .burger.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
div.leftHeader .burger.active span:nth-child(2) {
  opacity: 0;
}
div.leftHeader .burger.active span:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

div.rightHeader {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  word-break: break-all;
  overflow: hidden;
}
div.rightHeader i {
  padding-right: 5px;
  font-size: 1rem;
}
div.rightHeader p {
  text-align: right;
  margin-left: 30%;
  padding-right: 10px;
  font-size: 1rem;
  line-height: 10vh;
}

@media (min-width: 320px) and (orientation: portrait) {
  div.leftHeader .burger {
    width: 60%;
    height: 60%;
  }
  div.rightHeader p, div.rightHeader i {
    font-size: 1rem;
  }
}
@media (min-width: 360px) and (orientation: portrait) {
  div.leftHeader .burger {
    width: 70%;
  }
  div.rightHeader {
    padding-right: 10px;
  }
  div.rightHeader p, div.rightHeader i {
    font-size: 1.2rem;
  }
}
@media (min-width: 390px) and (orientation: portrait) {
  div.leftHeader .burger {
    height: 50%;
  }
}
@media (min-width: 414px) and (orientation: portrait) {
  div.rightHeader p, div.rightHeader i {
    font-size: 1.4rem;
  }
}
@media (min-width: 500px) and (orientation: portrait) {
  div.leftHeader .burger {
    width: 55%;
    height: 60%;
  }
}
@media (min-width: 533px) and (orientation: landscape) {
  div.leftHeader {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  div.leftHeader .burger {
    width: 55%;
    height: 60%;
  }
  div.rightHeader {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
@media (min-width: 700px) {
  div.leftHeader {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  div.rightHeader {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
@media (min-width: 750px) and (orientation: portrait) {
  div.leftHeader {
    -ms-flex-preferred-size: 14%;
        flex-basis: 14%;
    padding: 0;
  }
  div.leftHeader .burger {
    width: 70%;
    height: 50%;
  }
  div.rightHeader {
    -ms-flex-preferred-size: 86%;
        flex-basis: 86%;
    padding-right: 20px;
  }
  div.rightHeader p, div.rightHeader i {
    font-size: 1.9rem;
  }
}
@media (min-width: 820px) and (orientation: portrait) {
  div.leftHeader {
    -ms-flex-preferred-size: 13%;
        flex-basis: 13%;
  }
  div.leftHeader .burger {
    width: 70%;
    height: 50%;
  }
  div.rightHeader {
    padding-right: 20px;
    -ms-flex-preferred-size: 87%;
        flex-basis: 87%;
  }
  div.rightHeader p, div.rightHeader i {
    font-size: 2rem;
  }
}
@media (min-width: 820px) and (orientation: landscape) {
  div.leftHeader {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  div.leftHeader .burger {
    width: 50%;
    height: 60%;
  }
  div.rightHeader {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
@media (min-width: 900px) {
  div.leftHeader .burger {
    width: 50%;
    height: 60%;
  }
  div.rightHeader p, div.rightHeader i {
    font-size: 1.3rem;
  }
}
@media (min-width: 912px) {
  div.leftHeader {
    -ms-flex-preferred-size: 13%;
        flex-basis: 13%;
  }
  div.leftHeader .burger {
    width: 70%;
    height: 60%;
  }
  div.rightHeader {
    -ms-flex-preferred-size: 87%;
        flex-basis: 87%;
  }
  div.rightHeader p, div.rightHeader i {
    font-size: 2rem;
  }
}
@media (min-width: 914px) and (orientation: landscape) {
  div.leftHeader {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  div.leftHeader .burger {
    width: 50%;
    height: 69%;
  }
  div.rightHeader {
    -ms-flex-preferred-size: 87%;
        flex-basis: 87%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: transparent;
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid gray;
  }
  header div.leftHeader {
    display: none;
  }
  header div.leftHeader div.burger {
    display: none;
  }
  header div.rightHeader i {
    padding-right: 10px;
  }
  header div.rightHeader p, header div.rightHeader i {
    font-size: 1.6rem;
  }
}
div.wrap {
  min-height: 100vh;
}
div.wrap main {
  background-color: #1d2538;
  padding: 10px 0;
  border-radius: 20px;
}
div.wrap main section.lists {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
div.wrap main section.lists h1 {
  font-size: 1.5rem;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
div.wrap main section.lists div.list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgb(38, 62, 92);
  color: #e0e1dc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 0;
  cursor: pointer;
}
div.wrap main section.lists div.list:hover {
  -webkit-box-shadow: 0px 0px 5px 10px #2d3947;
          box-shadow: 0px 0px 5px 10px #2d3947;
}
div.wrap main section.lists div.list h1 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: monospace;
  padding-top: 10px;
  color: white;
  text-shadow: 0 0 10px yellow;
}
div.wrap main section.lists div.list p {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: 0 auto;
  font-family: monospace;
  padding: 5px 0;
  font-size: 0.8rem;
  word-break: break-all;
}
div.wrap main section.lists div.list div.editList {
  position: absolute;
  top: 10px;
  left: 15px;
}
div.wrap main section.lists div.list div.editList i {
  display: block;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
div.wrap main section.lists div.list div.editList i:hover {
  color: yellow;
}
div.wrap main section.lists div.list div.removeList {
  position: absolute;
  top: 10px;
  right: 15px;
}
div.wrap main section.lists div.list div.removeList i {
  display: block;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
div.wrap main section.lists div.list div.removeList i:hover {
  color: red;
}
div.wrap main section.lists div.addList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  height: 50px;
  text-align: center;
  margin: 0 auto;
}
div.wrap main section.lists div.addList i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7vh;
  height: 7vh;
  border: 1px solid gray;
  font-size: 2rem;
  padding: 20px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
div.wrap main section.lists div.addList i:hover {
  background-color: royalblue;
}
div.wrap main section.lists div.addList i.active {
  -webkit-transform: translateX(0%) rotate(45deg);
          transform: translateX(0%) rotate(45deg);
  color: black;
  border-color: black;
  background-color: royalblue;
}

@media (min-width: 390px) and (orientation: portrait) {
  div.wrap main section.lists div.addList {
    margin: 10px auto;
  }
}
@media (min-width: 414px) and (orientation: portrait) {
  div.wrap main section.lists div.addList {
    margin: 15px auto;
  }
}
@media (min-width: 750px) {
  div.wrap main {
    width: 100%;
    border-radius: 20px;
  }
  div.wrap main section.lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  div.wrap main section.lists div.list {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  div.wrap main section.lists h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 760px) {
  div.wrap main {
    padding: 10px 10px;
  }
  div.wrap main section.lists div.list {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  div.wrap main section.lists div.list h1 {
    font-size: 1.6rem;
  }
  div.wrap main section.lists div.list p {
    font-size: 1.2rem;
  }
  div.wrap main section.lists div.list div.editList {
    top: 15px;
    left: 15px;
  }
  div.wrap main section.lists div.list div.editList i {
    font-size: 1.4rem;
  }
  div.wrap main section.lists div.list div.removeList {
    top: 15px;
    right: 15px;
  }
  div.wrap main section.lists div.list div.removeList i {
    font-size: 1.4rem;
  }
  div.wrap main section.lists div.addList {
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin: 25px auto;
  }
}
@media (min-width: 820px) {
  div.wrap header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.wrap main {
    width: 100%;
    border-radius: 20px;
  }
  div.wrap main section.lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  div.wrap main section.lists h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  div.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 5%;
    width: 95%;
  }
  div.wrap header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.wrap main {
    width: 100%;
    border-radius: 20px;
  }
  div.wrap main section.lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  div.wrap main section.lists h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  div.wrap main section.lists div.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    min-height: 150px;
    margin: 20px 2%;
  }
  div.wrap main section.lists div.addList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    height: 150px;
    margin: 20px 2%;
    text-align: center;
    border-radius: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  div.wrap main section.lists div.addList i {
    font-size: 5rem;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 50%;
    width: 124px;
    height: 124px;
  }
}
#popUpList {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
#popUpList .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: #1D2538;
  border: 1px solid #888;
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
}
#popUpList .modal-content h2 {
  width: 80%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #179CF0;
  border: 2px solid gray;
  border-bottom: 4px solid gray;
  border-radius: 8px;
}
#popUpList .modal-content p {
  word-wrap: break-word;
  text-align: center;
  font-size: 0.9rem;
  margin: 0 auto 8px;
  color: white;
  text-shadow: 0 0 10px yellow;
}
#popUpList .modal-content .close {
  position: absolute;
  top: 0;
  right: 5%;
  color: #aaa;
  font-size: 2.5rem;
  font-weight: bold;
}
#popUpList .modal-content .close:hover,
#popUpList .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#popUpList .modal-content section.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#popUpList .modal-content section.menu div.addEvent {
  width: 90%;
  border: 3px solid gray;
  border-radius: 8px;
}
#popUpList .modal-content section.menu div.addEvent h2 {
  width: 100%;
  border: none;
  border-bottom: 4px solid gray;
}
#popUpList .modal-content section.menu div.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#popUpList .modal-content section.menu div.events div.listEvent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgb(38, 62, 92);
  color: #e0e1dc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
}
#popUpList .modal-content section.menu div.events div.listEvent:hover {
  -webkit-box-shadow: 0px 0px 5px 10px #2d3947;
          box-shadow: 0px 0px 5px 10px #2d3947;
}
#popUpList .modal-content section.menu div.events div.listEvent div.eventColor {
  position: absolute;
  height: 10px;
  width: 80%;
  background-color: red;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  z-index: 1;
  top: 90%;
  right: -30%;
  -webkit-box-shadow: 0 0 10px yellow;
          box-shadow: 0 0 10px yellow;
}
#popUpList .modal-content section.menu div.events div.listEvent h1 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin: 0 auto;
  font-size: 1.1rem;
  font-family: monospace;
  padding-top: 10px;
  color: white;
  text-shadow: 0 0 10px yellow;
  text-align: center;
  word-break: break-all;
}
#popUpList .modal-content section.menu div.events div.listEvent p {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: 5px auto;
  height: 50px;
  font-family: monospace;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8rem;
  word-break: break-all;
  text-shadow: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#popUpList .modal-content section.menu div.events div.listEvent p:nth-of-type(1) {
  overflow: auto;
  overflow-x: hidden;
}
#popUpList .modal-content section.menu div.events div.listEvent p i {
  position: absolute;
  top: 0;
  margin: 5px 0;
  text-shadow: 0 0 10px blue;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  color: white;
  font-size: 1rem;
}
#popUpList .modal-content section.menu div.events div.listEvent div.editListEvent {
  position: absolute;
  top: 10px;
  left: 15px;
}
#popUpList .modal-content section.menu div.events div.listEvent div.editListEvent i {
  display: block;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
#popUpList .modal-content section.menu div.events div.listEvent div.editListEvent i:hover {
  color: yellow;
}
#popUpList .modal-content section.menu div.events div.listEvent div.removeListEvent {
  position: absolute;
  top: 10px;
  right: 15px;
}
#popUpList .modal-content section.menu div.events div.listEvent div.removeListEvent i {
  display: block;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
#popUpList .modal-content section.menu div.events div.listEvent div.removeListEvent i:hover {
  color: red;
}
#popUpList .modal-content section.menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
#popUpList .modal-content section.menu form input {
  text-align: center;
  width: 100%;
  padding: 5px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #757575;
}
#popUpList .modal-content section.menu form input:nth-last-of-type(1) {
  width: 27%;
  height: 15%;
}
#popUpList .modal-content section.menu form textarea {
  text-align: center;
  width: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 1rem;
  margin-bottom: 8px;
}
#popUpList .modal-content section.menu form button {
  margin-top: 5%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #179CF0;
  color: white;
  border: 1px solid #179CF0;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px black;
          box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
  margin-bottom: 15px;
}
#popUpList .modal-content section.menu form button:hover {
  background-color: #14130C;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 5px black, 0 0 0 7px white;
          box-shadow: 0 0 0 5px black, 0 0 0 7px white;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.modal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 20px;
  text-align: center;
}
.modal .modal-content h2 {
  width: 100%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 8px;
}
.modal .modal-content h3 {
  font-size: 1rem;
  margin-top: 20%;
}
.modal .modal-content i {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  color: red;
}
.modal .modal-content button {
  height: 25px;
  width: 50px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #179CF0;
  color: white;
  border: 1px solid #179CF0;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px black;
          box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal .modal-content button:hover {
  background-color: #14130C;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 5px black, 0 0 0 7px white;
          box-shadow: 0 0 0 5px black, 0 0 0 7px white;
}
.modal .modal-content .close {
  position: absolute;
  top: 0;
  right: 5%;
  color: #aaa;
  font-size: 2.5rem;
  font-weight: bold;
}
.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  text-align: center;
}
.modal .modal-content form input {
  width: 100%;
  padding: 5px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 8px;
}
.modal .modal-content form textarea {
  width: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 1rem;
  margin-bottom: 8px;
}
.modal .modal-content form button {
  margin-top: 5%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #179CF0;
  color: white;
  border: 1px solid #179CF0;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px black;
          box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
  margin-bottom: 15px;
  width: 90px;
  height: 45px;
}
.modal .modal-content form button:hover {
  background-color: #14130C;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 5px black, 0 0 0 7px white;
          box-shadow: 0 0 0 5px black, 0 0 0 7px white;
}

@media (min-width: 280px) and (orientation: portrait) {
  .modal .modal-content {
    height: 45%;
    width: 70%;
  }
  .modal .modal-content .close {
    font-size: 1.8rem;
  }
  .modal .modal-content h2 {
    font-size: 1.2rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1rem;
  }
  .modal .modal-content form button {
    font-size: 1rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 2.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1rem;
    margin-top: 25%;
  }
  .modal .modal-content button {
    font-size: 1rem;
    height: 45px;
    width: 80px;
  }
}
@media (min-width: 320px) and (orientation: portrait) {
  #popUpList .modal-content section.menu form input:nth-last-of-type(1) {
    width: 30%;
    height: 16%;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p i {
    margin-top: 10px;
  }
  .modal .modal-content {
    height: 50%;
  }
}
@media (min-width: 360px) and (orientation: portrait) {
  #popUpList .modal-content section.menu form input:nth-last-of-type(1) {
    width: 27%;
    height: 16%;
  }
  .modal .modal-content {
    height: 45%;
  }
  .modal .modal-content button {
    height: 30px;
    width: 75px;
  }
  .modal .modal-content i {
    top: 22%;
  }
  .modal .modal-content h3 {
    margin-top: 30%;
  }
  .modal .modal-content form button {
    width: 100px;
    height: 35px;
  }
}
@media (min-width: 375px) and (orientation: portrait) {
  #popUpList .modal-content section.menu form input:nth-last-of-type(1) {
    width: 26%;
    height: 16%;
  }
  .modal .modal-content {
    height: 45%;
  }
  .modal .modal-content h3 {
    margin-top: 30%;
  }
}
@media (min-width: 390px) and (orientation: portrait) {
  .modal .modal-content {
    height: 35%;
  }
}
@media (min-width: 411px) and (orientation: portrait) {
  #popUpList .modal-content section.menu form input:nth-last-of-type(1) {
    width: 23%;
    height: 16%;
  }
  .modal .modal-content {
    height: 40%;
  }
  .modal .modal-content h3 {
    margin-top: 30%;
  }
}
@media (min-width: 533px) and (orientation: landscape) {
  #popUpList .modal-content h2 {
    font-size: 1.3rem;
    width: 80%;
    margin-bottom: 10px;
  }
  #popUpList .modal-content p {
    font-size: 1.1rem;
    padding: 10px 0;
  }
  #popUpList .modal-content section.menu {
    width: 100%;
    margin: 0 auto;
  }
  #popUpList .modal-content section.menu div.addEvent {
    width: 80%;
  }
  #popUpList .modal-content section.menu div.addEvent form {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  #popUpList .modal-content section.menu div.addEvent form input, #popUpList .modal-content section.menu div.addEvent form textarea, #popUpList .modal-content section.menu div.addEvent form button {
    font-size: 0.9rem;
  }
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 27%;
    height: 17%;
  }
  #popUpList .modal-content section.menu div.events {
    margin-top: 20px;
  }
  #popUpList .modal-content section.menu div.events div.listEvent h1 {
    font-size: 1.5rem;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p {
    font-size: 1rem;
    text-shadow: none;
    margin: 5px auto;
  }
  #popUpList .modal-content section.menu div.events div.listEvent div.editListEvent i {
    font-size: 1.2rem;
  }
  #popUpList .modal-content section.menu div.events div.listEvent div.removeListEvent i {
    font-size: 1.2rem;
  }
  .modal .modal-content {
    height: 85%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 2.5rem;
  }
  .modal .modal-content h2 {
    font-size: 1.2rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.2rem;
  }
  .modal .modal-content form button {
    font-size: 1.2rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3rem;
  }
  .modal .modal-content h3 {
    font-size: 1.2rem;
    margin-top: 20%;
  }
  .modal .modal-content button {
    font-size: 1.2rem;
    height: 45px;
    width: 80px;
  }
}
@media (min-width: 540px) and (orientation: portrait) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 18%;
    height: 17%;
  }
  .modal .modal-content {
    height: 40%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 2.5rem;
  }
  .modal .modal-content h2 {
    font-size: 1.2rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.2rem;
  }
  .modal .modal-content form button {
    font-size: 1.2rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3rem;
  }
  .modal .modal-content h3 {
    font-size: 1.2rem;
    margin-top: 25%;
  }
  .modal .modal-content button {
    font-size: 1.2rem;
    height: 45px;
    width: 80px;
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 23%;
    height: 17%;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p:nth-of-type(1) {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .modal .modal-content {
    height: 80%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 2.5rem;
  }
  .modal .modal-content h2 {
    font-size: 1.2rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.2rem;
  }
  .modal .modal-content form button {
    font-size: 1.2rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3rem;
  }
  .modal .modal-content h3 {
    font-size: 1.2rem;
    margin-top: 20%;
  }
  .modal .modal-content button {
    font-size: 1.2rem;
    height: 45px;
    width: 80px;
  }
}
@media (min-width: 653px) and (orientation: landscape) {
  .modal .modal-content {
    height: 85%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 3rem;
  }
  .modal .modal-content h2 {
    font-size: 1.2rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.1rem;
  }
  .modal .modal-content form button {
    font-size: 1.1rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 2.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1.1rem;
    margin-top: 10%;
  }
  .modal .modal-content button {
    font-size: 1.1rem;
    height: 45px;
    width: 80px;
  }
}
@media (min-width: 667px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 21%;
    height: 17%;
  }
  .modal .modal-content h3 {
    margin-top: 20%;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .modal .modal-content {
    height: 60%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 3rem;
  }
  .modal .modal-content h2 {
    font-size: 1.5rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.4rem;
  }
  .modal .modal-content form button {
    font-size: 1.4rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1.1rem;
    margin-top: 25%;
  }
  .modal .modal-content button {
    font-size: 1.4rem;
    height: 35px;
    width: 85px;
  }
}
@media (min-width: 731px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 19%;
    height: 17%;
  }
  .modal .modal-content {
    height: 75%;
  }
}
@media (min-width: 740px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 19%;
    height: 17%;
  }
  .modal .modal-content {
    height: 75%;
  }
  .modal .modal-content h3 {
    margin-top: 15%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #popUpList .modal-content h2 {
    width: 90%;
    font-size: 1.6rem;
    margin: 20px auto;
  }
  #popUpList .modal-content .close {
    right: 3%;
  }
  #popUpList .modal-content p {
    font-size: 1.3rem;
    margin: 0 auto 20px;
  }
  #popUpList .modal-content section.menu div.addEvent h2 {
    margin: 0 auto 15px;
  }
  #popUpList .modal-content section.menu form {
    width: 80%;
    padding-bottom: 20px;
  }
  #popUpList .modal-content section.menu form input, #popUpList .modal-content section.menu form textarea, #popUpList .modal-content section.menu form button {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  #popUpList .modal-content section.menu form input:nth-last-of-type(1) {
    width: 14%;
    height: 17%;
  }
  #popUpList .modal-content section.menu div.events div.listEvent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding: 50px;
    font-size: 1.2rem;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p i {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p:nth-of-type(1) {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  #popUpList .modal-content section.menu div.events div.listEvent h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  #popUpList .modal-content section.menu div.events div.listEvent div.removeListEvent, #popUpList .modal-content section.menu div.events div.listEvent div.editListEvent {
    top: 15px;
  }
  #popUpList .modal-content section.menu div.events div.listEvent div.removeListEvent i, #popUpList .modal-content section.menu div.events div.listEvent div.editListEvent i {
    font-size: 1.6rem;
  }
  .modal .modal-content {
    height: 45%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 3rem;
  }
  .modal .modal-content h2 {
    font-size: 1.5rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.4rem;
  }
  .modal .modal-content form button {
    font-size: 1.4rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1.4rem;
    margin-top: 25%;
  }
  .modal .modal-content button {
    font-size: 1.4rem;
    height: 45px;
    width: 80px;
  }
}
@media (min-width: 812px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 17%;
    height: 17%;
  }
  .modal .modal-content h3 {
    margin-top: 15%;
  }
}
@media (min-width: 812px) and (orientation: portrait) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 15%;
    height: 17%;
  }
}
@media (min-width: 812px) and (orientation: portrait) {
  .modal .modal-content {
    height: 45%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 3rem;
  }
  .modal .modal-content h2 {
    font-size: 1.5rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.4rem;
  }
  .modal .modal-content form button {
    font-size: 1.4rem;
    width: 125px;
    height: 45px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1.4rem;
    margin-top: 25%;
  }
  .modal .modal-content button {
    font-size: 1.4rem;
    height: 45px;
    width: 100px;
  }
}
@media (min-width: 823px) and (orientation: landscape) {
  .modal .modal-content {
    height: 70%;
  }
}
@media (min-width: 844px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 17%;
    height: 17%;
  }
}
@media (min-width: 896px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 16%;
    height: 17%;
  }
}
@media (min-width: 896px) and (orientation: portrait) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 13%;
    height: 17%;
  }
}
@media (min-width: 908px) {
  .modal .modal-content {
    height: 60%;
  }
  .modal .modal-content h3 {
    margin-top: 40%;
  }
}
@media (min-width: 912px) and (orientation: portrait) {
  .modal .modal-content {
    height: 40%;
    width: 50%;
  }
}
@media (min-width: 930px) and (orientation: landscape) {
  .modal .modal-content {
    height: 40%;
  }
  .modal .modal-content h3 {
    margin-top: 25%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent {
    width: 55%;
  }
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 20%;
    height: 17%;
  }
  #popUpList .modal-content section.menu div.events {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #popUpList .modal-content section.menu div.events div.listEvent {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p {
    height: 121px;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    font-size: 1.4rem;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p i {
    font-size: 1.4rem;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p:nth-of-type(1) {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  #popUpList .modal-content section.menu div.events div.listEvent div.removeListEvent i {
    top: 10px;
    left: -10px;
    font-size: 1.5rem;
  }
  #popUpList .modal-content section.menu div.events div.listEvent div.editListEvent i {
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
  }
  .modal .modal-content {
    height: 50%;
    width: 45%;
  }
  .modal .modal-content .close {
    font-size: 3rem;
  }
  .modal .modal-content h2 {
    font-size: 1.5rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.4rem;
  }
  .modal .modal-content form button {
    font-size: 1.4rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1.4rem;
    margin-top: 18%;
  }
  .modal .modal-content button {
    font-size: 1.4rem;
    height: 45px;
    width: 80px;
  }
}
@media (min-width: 1180px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 17%;
    height: 17%;
  }
  .modal .modal-content {
    height: 45%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 3rem;
  }
  .modal .modal-content h2 {
    font-size: 1.5rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.4rem;
  }
  .modal .modal-content form button {
    font-size: 1.4rem;
    width: 110px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1.4rem;
    margin-top: 18%;
  }
  .modal .modal-content button {
    font-size: 1.4rem;
    height: 45px;
    width: 100px;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  #popUpList .modal-content h2 {
    font-size: 1.8rem;
  }
  #popUpList .modal-content p {
    font-size: 1.5rem;
  }
  #popUpList .modal-content section.menu div.addEvent {
    width: 55%;
  }
  #popUpList .modal-content section.menu div.addEvent form input, #popUpList .modal-content section.menu div.addEvent form textarea, #popUpList .modal-content section.menu div.addEvent form button {
    font-size: 1.5rem;
  }
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 18%;
    height: 17%;
  }
  #popUpList .modal-content section.menu div.events {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #popUpList .modal-content section.menu div.events div.listEvent {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 20px;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  #popUpList .modal-content section.menu div.events div.listEvent p:nth-of-type(1) {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  #popUpList .modal-content section.menu div.events div.listEvent h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .modal .modal-content {
    height: 50%;
    width: 50%;
  }
  .modal .modal-content .close {
    font-size: 3rem;
  }
  .modal .modal-content h2 {
    font-size: 1.5rem;
  }
  .modal .modal-content form input, .modal .modal-content form textarea {
    font-size: 1.4rem;
  }
  .modal .modal-content form button {
    font-size: 1.4rem;
    width: 140px;
  }
  .modal .modal-content i {
    top: 20%;
    font-size: 3.5rem;
  }
  .modal .modal-content h3 {
    font-size: 1.4rem;
    margin-top: 18%;
  }
  .modal .modal-content button {
    font-size: 1.4rem;
    height: 45px;
    width: 100px;
  }
}
@media (min-width: 1368px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 17%;
    height: 17%;
  }
  .modal .modal-content h2 {
    font-size: 2rem;
  }
  .modal .modal-content i {
    font-size: 4rem;
  }
  .modal .modal-content h3 {
    font-size: 1.9rem;
  }
  .modal .modal-content button {
    font-size: 1.9rem;
  }
}
@media (min-width: 1400px) and (orientation: landscape) {
  #popUpList .modal-content section.menu div.addEvent form input:nth-last-of-type(1) {
    width: 67px;
    height: 60px;
  }
  .model .model-content {
    width: 20%;
  }
}
footer {
  background-color: #1d2538;
  color: #e0e1dc;
  width: 100%;
  min-height: 5vh;
}
footer div.copy {
  width: 95%;
  margin: 0 auto 10px auto;
  border-top: 1px solid gray;
}
footer div.copy p {
  text-align: center;
  height: 100%;
  font-size: 1rem;
  padding-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 640px) and (orientation: landscape) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 10px;
  }
}
@media (min-width: 760px) and (orientation: portrait) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div.copy p {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  footer {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div p {
    font-size: 3rem;
    width: 100%;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  footer div.copy p {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=mainPage.css.map */