section.register
    position: relative
    width: 60%
    height: 100%
    margin: 0 auto
    text-align: center
    overflow-y: hidden
    fieldset.form
        margin-top: calc(150px/2)
        background-color: black
        border-radius: 10%
        div.logo
            width: 150px
            height: 150px
            background-image: url("../../images/logo_bez_bg150.png")
            animation: logoAnimate100 2.5s steps(9) forwards
        h1
            width: 100%
            padding: 20px
            margin-top: 2%
            font-size: 2rem
            background-color: #2d2b2b80
            color: white
        form
            margin: 5% 0 5% 0
            p
                color: white
                height: 30px
                font-size: 1rem
                line-height: 0px
            input
                display: block
                margin: 0 auto
                width: 50%
                padding: 20px
                border-radius: 10px
            input:last-child
                width: 10%
                padding: 20px
                margin-top: 3%
            input[placeholder]
                font-size: 1rem