section.register
    position: relative
    width: 100%
    height: 100vh
    text-align: center
    fieldset.form
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-color: black
        border: 5px solid greenYellow
        border-radius: 20px
        div.goBackBtn
            position: absolute
            top: -14%
            left: 10%
            border-radius: 25%
            i
                font-size: 1.5rem
                color: white
                transform: rotate(-90deg)
        div.logo
            width: 100px
            height: 100px
            background-image: url("../../images/logo_bez_bg100.png")
            animation: logoAnimate100 2.5s steps(9) forwards
            // cursor: pointer
            // &:hover
            //     background-image: url("../../images/logo_hover150.png")
        h1
            width: 100%
            padding: 20px
            margin-top: 2%
            font-size: 1.5rem
            background-color: #2d2b2b80
            color: white 
        form
            margin: 5% 0 5% 0
            p
                display: block
                text-align: justify
                padding: 0 10px 5px 10px
                color: white
                font-size: .7rem
            input
                display: block
                width: 80%
                margin: 0 auto
                padding: 5px 0
                border-radius: 10px
                &:focus
                    outline: none
                    border: 2px solid greenYellow
                &:last-child
                    display: inline-block
                    margin-top: 5%
                &[placeholder]
                    font-size: 1rem
                &[type="submit"]
                    width: auto
                    border-radius: 10px
                    background-color: #587cf1
                    color: white
                    border: 1px solid #587cf1
                    box-shadow: 0 0 0 2px black, 0 0 0 4px white

@media (min-width: 360px) and (orientation: portrait)


@media (min-width: 390px) and (orientation: portrait)
    section.register
        fieldset.form
            div.goBackBtn
                top: -12%
                left: 10%
            div.logo
                width: 150px
                height: 150px
                background-image: url("../../images/logo_bez_bg150.png")
            h1
                padding: 20px
                margin-top: 2%
                font-size: 2rem
                background-color: #2d2b2b80
                color: white 
            form
                p
                    font-size: .8rem
                input
                    padding: 10px
                    &[placeholder]
                        font-size: 1.2rem
                    &[type="submit"]
                        font-size: 1.1rem
