* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 10px;
  font-family: roboto, sans-serif;
  background-image: url("../../images/polygon.png");
  -webkit-animation: bgcMove 60s alternate linear infinite;
          animation: bgcMove 60s alternate linear infinite;
}

section.register {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
section.register fieldset.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  border: 5px solid greenYellow;
  border-radius: 20px;
}
section.register fieldset.form div.goBackBtn {
  position: absolute;
  top: -14%;
  left: 10%;
  border-radius: 25%;
}
section.register fieldset.form div.goBackBtn i {
  font-size: 1.5rem;
  color: white;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
section.register fieldset.form div.logo {
  width: 100px;
  height: 100px;
  background-image: url("../../images/logo_bez_bg100.png");
  -webkit-animation: logoAnimate100 2.5s steps(9) forwards;
          animation: logoAnimate100 2.5s steps(9) forwards;
}
section.register fieldset.form h1 {
  width: 100%;
  padding: 20px;
  margin-top: 2%;
  font-size: 1.5rem;
  background-color: rgba(45, 43, 43, 0.5019607843);
  color: white;
}
section.register fieldset.form form {
  margin: 5% 0 5% 0;
}
section.register fieldset.form form p {
  display: block;
  text-align: justify;
  padding: 0 10px 5px 10px;
  color: white;
  font-size: 0.7rem;
}
section.register fieldset.form form input {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
  border-radius: 10px;
}
section.register fieldset.form form input:focus {
  outline: none;
  border: 2px solid greenYellow;
}
section.register fieldset.form form input:last-child {
  display: inline-block;
  margin-top: 5%;
}
section.register fieldset.form form input[placeholder] {
  font-size: 1rem;
}
section.register fieldset.form form input[type=submit] {
  width: auto;
  border-radius: 10px;
  background-color: #587cf1;
  color: white;
  border: 1px solid #587cf1;
  -webkit-box-shadow: 0 0 0 2px black, 0 0 0 4px white;
          box-shadow: 0 0 0 2px black, 0 0 0 4px white;
}

@media (min-width: 390px) and (orientation: portrait) {
  section.register fieldset.form div.goBackBtn {
    top: -12%;
    left: 10%;
  }
  section.register fieldset.form div.logo {
    width: 150px;
    height: 150px;
    background-image: url("../../images/logo_bez_bg150.png");
  }
  section.register fieldset.form h1 {
    padding: 20px;
    margin-top: 2%;
    font-size: 2rem;
    background-color: rgba(45, 43, 43, 0.5019607843);
    color: white;
  }
  section.register fieldset.form form p {
    font-size: 0.8rem;
  }
  section.register fieldset.form form input {
    padding: 10px;
  }
  section.register fieldset.form form input[placeholder] {
    font-size: 1.2rem;
  }
  section.register fieldset.form form input[type=submit] {
    font-size: 1.1rem;
  }
}
@-webkit-keyframes logoAnimate100 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes logoAnimate100 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@-webkit-keyframes bgcMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes bgcMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}/*# sourceMappingURL=logging.css.map */